/* CSS declarations go here */
html, body {
  padding: 0px;
  margin: 0px;
  background-color: #EEE
}
.event {
  border: 1px solid lightblue;
  border-radius: 5px;
  margin: 5px;
  min-height: 150px;
  padding: 4px
}
.time {
  color: grey
}
